/*
Таблица стилей для плагина KUV style

Обязательно наличие:
/kuv/styles
/kuv/img
/kuv/icons
/kuv/fonts
*/

/* Приветственный экран */
.welcome {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background: url(../img/welcome.jpg) no-repeat 50% 50% !important;
	background-size: cover !important;
	transition: all .3s ease-out; 
} 

/* Подключение кастомного шрифта WixMadefor в нескольких вариантах веса */
@font-face {
  font-family: "WixMadefor";
  font-display: swap;
  src: 
	url("../fonts/wix/WixMadeforDisplay-Regular.woff2") format("woff2"),
	url("../fonts/wix/WixMadeforDisplay[wght].ttf") format("truetype");
  font-weight: 300;
	font-optical-sizing: auto;
  font-style: normal;
}
/* Medium */
@font-face {
  font-family: "WixMadefor";
  font-display: swap;
  src: 
	url("../fonts/wix/WixMadeforDisplay-Medium.woff2") format("woff2"),
	url("../fonts/wix/WixMadeforDisplay[wght].ttf") format("truetype");
  font-weight: 400;
	font-optical-sizing: auto;
  font-style: normal;
}
/* SemiBold */
@font-face {
  font-family: "WixMadefor";
  font-display: swap;
  src: 
	url("../fonts/wix/WixMadeforDisplay-SemiBold.woff2") format("woff2"),
	url("../fonts/wix/WixMadeforDisplay[wght].ttf") format("truetype");
  font-weight: 600;
	font-optical-sizing: auto;
  font-style: normal;
}
/* Bold */
@font-face {
  font-family: "WixMadefor";
  font-display: swap;
  src: 
	url("../fonts/wix/WixMadeforDisplay-Bold.woff2") format("woff2"),
	url("../fonts/wix/WixMadeforDisplay[wght].ttf") format("truetype");
  font-weight: 700;
	font-optical-sizing: auto;
  font-style: normal;
}

/* Применение кастомного шрифта */
.simple-keyboard-input,
body {
	font-family: "WixMadefor" !important;
}

/* Логотип в шапке */
.head__logo-icon svg {
	height: auto!important;
}

/* Иконка "помечено как просмотрено" */
.info__icon.active::after {
	background: #fff url(../img/icons/check-fat-duotone.svg) no-repeat 50% 50%;
}

/* Кастомизация иконок карточек */
.card__icon.icon--book,
.info__icon.icon--book,
.feed-item__tags::before {
	background-image: url(../icons/heart-duotone.svg) !important;
}
.card__icon.icon--wath,
.info__icon.icon--wath,
.search-history-key:before {
	background-image: url(../icons/clock-countdown-duotone.svg) !important;
}
.card__icon.icon--like,
.info__icon.icon--like {
	background-image: url(../icons/thumbs-up-duotone.svg) !important;
}
.card__icon.icon--history {
	background-image: url(../icons/play-circle-duotone.svg) !important;
}

/* Иконка загрузки (для разных случаев) */
.content-loading::after, 
.processing__loader, 
.activity__loader,
.player-video__loader,
.birthday__poster,
.loading-layer__ico,
.search-source--loading .search-source__count,
.modal-loading,
.modal-pending__loading,
.season-episode__loader,
.screensaver__preload,
.extensions__item-check,
.iframe__body,
.lampac-balanser-loader {
	background: url(../icons/spinner-ball-duotone.svg) no-repeat 50% 50% !important;
	background-size: clamp(8px, 100%, 32px)!important;
}

/* Размер иконок загрузки */
.content-loading::after,
.processing__loader, 
.loading-layer__ico,
.modal-loading,
.modal-pending__loading,
.season-episode__loader {
	background-size: contain;
}

/* Иконка разделителя в шапке */
.head__split {
	background: url(../icons/dots-three-vertical-duotone.svg) no-repeat 50% 50% !important;
	background-size: contain !important;
}

/* Иконка добавления отзыва */
.full-review-add::before {
	background: url(../icons/plus-circle-duotone.svg) no-repeat 50% 50%;
}

/* Заглушка при отсутствии изображения */
.empty__img {
	background: url(../icons/robot-duotone.svg) no-repeat 50% 50%;
	background-size: contain;
	height: 5em;
}

/* Иконка ошибки */
.error__ico {
	background: url(../icons/smiley-sad-duotone.svg) no-repeat 50% 50%;
}

/* Иконки кодеков и субтитров в торрентах */
.torrent-item__ffprobe > div.m-video::before {
	background-image: url(../icons/film-strip-duotone.svg);
}
.torrent-item__ffprobe > div.m-channels::before {
	content: '';
	background-image: url(../icons/waveform-duotone.svg);
}
.torrent-item__ffprobe > div.m-audio::before {
	content: '';
	background-image: url(../icons/microphone-duotone.svg);
}
.torrent-item__ffprobe > div.m-subtitle::before {
	content: '';
	background-image: url(../icons/subtitles-duotone.svg);
}

/* История поиска */
.search-history-key:before {
	content: "";
	background-image: url(../icons/clock-countdown-duotone.svg);
}

/* Иконка для папки торрентов */
.torrnet-folder-name::before {
	content: "";
	background: url(../icons/cards-three-duotone.svg) no-repeat 50% 50%;
	background-size: contain;
}

/* Теги в ленте */
.feed-item__tags::before {
	content: url(../icons/heart-duotone.svg);
}

/* Универсальный стиль для SVG иконок плагина */
svg.kuvicon {
	fill: currentColor !important;
	/* stroke: currentColor; */
	/* transition: all .2s ease-out; */
}

/* Скругления для элементов интерфейса */
.full-start__button,
.menu-item,
.tag-count,
.tag-count__count,
.simple-button,
.simple-button--filter > div {
	border-radius: 2em !important;
}

/* Счётчик внутри тега */
.tag-count__count {
	min-width: 1.8em;
	text-align: center;
}

/* Паддинги кнопок */
.simple-button {
	padding: .3em .8em;
}
.simple-button > span {
	margin-left: .8em;
	margin-right: .8em;
}
.simple-button--filter > div {
	padding: .3em 1em !important;
	margin-left: 0!important;
}

/* Правка внешнего отступа иконки баланcера */
.lampac-balanser-loader {
	margin-right: 0!important;
}

/* Стили для просмотров в блоке "престиж" */
.online-prestige-watched__body {
	padding-top: .3em;
}

/* Заголовок в карточке */
.full-start-new__title {
	line-clamp: 2!important;
}

/* Убираем фокус */
.full-start-new__right {
	outline: none!important;
}

/* Скругления фото актёров */
.full-person,
.full-person__photo {
	border-radius: 7em;
}
.full-person {
	padding: .5em;
	padding-right: 2em;
}

/* Скругления для сети (например, Netflix и др.) */
.network-innie {
	border-radius: 2em !important;
}

/* Иконки возрастного рейтинга */
.kuv-age-icon {
	display: inline-block;
	margin-right: 1.5em!important;
	vertical-align: middle;
}
.kuv-age-icon svg {
	width: 2.2em;
	height: 2.2em;
}
.full-start__pg, .full-start__status {
	background: rgba(0, 0, 0, 0.15);
	border-radius: 0.3em;
	border: none!important;
	padding: .45em!important;
}